* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  width: 85%;
  height: 85%;
  border-radius: 3%;
}

.content {
  padding: 4rem;
  width: 100%;
}

h1 {
  font-family: "Karla", "Times New Roman", "serif";
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

span {
  display: block;
}

p {
  color: #d5d4d8;
}

.btn-style {
  background-color: #10b981;
  color: white;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: inherit;
}

hr {
  border: 1px solid #2f3e53;
}

.green {
  color: #4adf86;
}

.pw-container {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
}

.pw-results {
  width: 40%;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  background-color: #273549;
  border-radius: 5px;
  color: #55f991;
  font-family: "Inter", "arial", "sans-serif";
}

span {
  display: inline;
}

@media (max-width: 1000px) {
  .container {
    height: auto;
  }

  .pw-container {
    flex-direction: column;
    align-items: center;
  }
  .pw-results {
    width: 100%;
  }
}
